//- external variables: radius, iconScale

include ./mixins/svg-defs.svg.pug

svg.colorjack(
	width=radius*2 height=radius*2 
	viewBox="0 0 "+(radius*2)+" "+(radius*2) 
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
)
	+svg-defs(2)
	defs
		clipPath#clipCircle
			circle(cx=radius cy=radius r=radius*2/3)

	g
		image(
			x=0 y=0 width=2*radius height=2*radius 
			xlink:href="/img/hsv_ring.png"
		)
		circle.colorjack-bg(cx=radius cy=radius r=radius-1 fill="white")

	g.colorjack-hue-indicator-transforms(transform-origin=radius+' '+radius)
		circle.colorjack-hue-indicator(cx=radius cy=radius*0.18 r=radius*0.07 fill="black")

	g.colorjack-circle(clip-path="url(#clipCircle)")
		g(transform-origin=radius+' '+radius transform="rotate(45) "+"translate("+radius*1/3+","+radius*1/3+")")
			rect.colorjack-up(   x=0          y=0          width=radius*2/3+1 height=radius*2/3+1)
			rect.colorjack-left( x=0          y=radius*2/3 width=radius*2/3+1 height=radius*2/3+1)
			rect.colorjack-down( x=radius*2/3 y=radius*2/3 width=radius*2/3+1 height=radius*2/3+1)
			rect.colorjack-right(x=radius*2/3 y=0          width=radius*2/3+1 height=radius*2/3+1)

		- var scale = "scale("+iconScale+")";
		- var translate = (x,y) => 'translate('+x+','+y+')';
		g.icon(transform=translate(radius*0.5, radius*0.9) + scale)
			use(x=0          y=0 xlink:href="#saturation")
			use(x=0.1*radius y=0 xlink:href="#minus")

		g.icon(transform=translate(radius*1.45, radius*0.9) + scale)
			use(x=0          y=0 xlink:href="#saturation")
			use(x=0.1*radius y=0 xlink:href="#plus")

		g.icon(transform=translate(radius, radius*.51) + scale)
			use(x=0           y=0  xlink:href="#lightness")
			use(x=radius*0.15 y=-8 xlink:href="#plus")

		g.icon(transform=translate(radius, radius*1.48) + scale)
			use(x=0           y=0  xlink:href="#lightness")
			use(x=radius*0.15 y=-8 xlink:href="#minus")

	circle.colorjack-indicator(cx=radius cy=radius r=radius*1/3)